.DS_Store
.env
*.env
*.log
*.tmp
*.tsbuildinfo
*~
$RECYCLE.BIN/
Thumbs.db
UserInterfaceState.xcuserstate

/.vscode-test/
/dist/
/node_modules/
/out/
/tmp/

.vscode/*
!.vscode/*.code-snippets
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
.history/
*.vsix
